# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
**/node_modules/
node_modules/

# Build output
dist/
dist-ssr/

# Archivos locales
*.local

# Variables de entorno
.env
.env.*.local

# VS Code
.vscode/
!.vscode/extensions.json

# IDEs y editores
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
vite.svg

# ESLint / Prettier
.eslintcache

# Ignorar TODOS los .env en cualquier carpeta
**/.env
**/.env.*
!**/.env.example   # (dejá trackeado un template si querés)

# Subidas/local caches temporales (por si aparecen)
**/uploads/
**/storage/
**/tmp/
**/.cache/

# Claves/Certs locales
*.pem
*.key

# Tests/coverage (si los generás)
coverage/
cypress/screenshots/
cypress/videos/

# Basura de SO (por si falta en subcarpetas)
Thumbs.db